#jstext {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  font-size: xx-large;
  font-weight: 1000;
  justify-content: center;
  font-style: oblique;
  font
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#joke {
  visibility: hidden;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 0, 0);
  padding: 10px;
}
